
a {
 font-family: sans-serif;
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
 font-family: sans-serif;
 position: relative;
 left: 400px;
}

h3 {
 font-family: sans-serif;
 position: relative;
   left: 430px;
}

p {
 font-family: sans-serif;
 position: relative;
   left: 235px;
}

h2 {
 font-family: sans-serif;
position: relative;
  left: 235px;
}

.First {
  width: 1250px;
  margin: auto;
}

.Headbar {
width: 470px;
margin: auto;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	background-color: #0E4D92;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#Center1 h3 {
font-family: sans-serif;
position: relative;
left: 310px;
}

#Center1 p {
font-family: sans-serif;
position: relative;
left: 440px;
}

#Center2 h3 {
font-family: sans-serif;
position: relative;
left: 310px;
}

#youtube p {
	left: 270px;
}

#QACenter1 p {
	left: 510px;
}

#QACenter2 h3 {
	left: 410px;
}

#QACenter2 p {
	left: 520px;
}

#QACenter3 h3 {
	left: 410px;
}

#QACenter3 p {
	left: 450px;
}

#about p {
	left: 450px;
}
